# --- some known artifacts to be ignored
.DS_Store
.vscode

__pycache__/

.venv/
.vscode/
.ipynb_checkpoints/

.env
.env.*
*.log

*.sqlite3

local_settings.py
# --- end of known artifacts

*.png
*.jpg
*.jpeg
